.ibm {
  background-image: url("./images/ibm1.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loggi {
  background-image: url("./images/loggi1.png");
   background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gft {
  background-image: url("./images/gft1.png");
   background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.creditas {
  background-image: url("./images/creditas1.jpg");
   background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dasa {
  background-image: url("./images/dasa1.JPG");
   background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drumwave {
  background-image: url("./images/drumwave.JPG");
   background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.tivit {
  background-image: url("./images/tivit.JPG");
   background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.fcamara {
  background-image: url("./images/f-camara.png");
   background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.avanade {
  background-image: url("./images/avanade1.jpg");
   background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.stefanini {
  background-image: url("./images/stefanini.png");
   background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.inovabra {
  background-image: url("./images/inovabra.jpg");
   background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.accenture {
  background-image: url("./images/accenture.jpg");
   background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}